{% extends 'layout.html' %}
{% block title %}Tweets{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'create_tweet' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Create New Tweet
        </a>
    </div>
    
    <div class="tweets-container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for tweet in tweets %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{tweet.text}} </p>
                        <p class="card-title">Created by: {{ tweet.user}} </p>
                        {% if tweet.user == request.user %}
                        <div class="d-flex gap-2">
                            <a href="{% url 'edit_tweet' tweet_id=tweet.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_tweet' tweet_id=tweet.id %}" class="btn btn-danger">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}